<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>難易度選択</title>
    <link rel="stylesheet" href="/css/select.css">
</head>
<body>
<div class="container">
    <h1 data-text="SELECT DIFFICULTY">SELECT DIFFICULTY</h1>
    <form th:action="@{/start}" method="post">
        <label>
            <input type="radio" name="difficulty" value="EASY">
            EASY
        </label>

        <label>
            <input type="radio" name="difficulty" value="NORMAL">
            NORMAL
        </label>

        <label>
            <input type="radio" name="difficulty" value="HARD">
            HARD
        </label>

        <button class="start-btn" type="submit">
            START
        </button>
    </form>
</div>

</body>
</html>