<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>難易度選択</title>
    <link rel="stylesheet" href="/css/select.css">
</head>
<body>
<div class="container">

    <div class="logo-wrapper">
        <div class="cyber-logo" data-text="MINESWEEPER">MINESWEEPER</div>
        <div class="cyber-sub">SELECT DIFFICULTY_</div>
    </div>

    <form th:action="@{/start}" method="post">
        <label>
            <input type="radio" name="difficulty" value="EASY">
            <span class="diff-name">EASY</span>
            <span class="diff-info">9 × 9 GRID / 10 MINES</span>
        </label>

        <label>
            <input type="radio" name="difficulty" value="NORMAL">
            <span class="diff-name">NORMAL</span>
            <span class="diff-info">16 × 16 GRID / 40 MINES</span>
        </label>

        <label>
            <input type="radio" name="difficulty" value="HARD">
            <span class="diff-name">HARD</span>
            <span class="diff-info">30 × 16 GRID / 99 MINES</span>
        </label>

        <button class="start-btn" type="submit">
            GAME START ?
        </button>
    </form>
</div>
</body>
</html>